# Создание дашборда по пользовательским событиям для агрегатора новостей

# Открытие данных

## Конфигурация для подключения к базе данных `dash_visits`

Выполним подключение к базе данных и выведем таблицу `dash_visits`:

In [ ]:
# импортируем библиотеки
import pandas as pd
from sqlalchemy import create_engine

db_config = {'user': '****', # имя пользователя
            'pwd': '****', # пароль
            'host': '****',
            'port': 6432, # порт подключения
            'db': 'data-analyst-zen-project-db'} # название базы данных

connection_string = 'postgresql://{}:{}@{}:{}/{}'.format(db_config['user'],
                                                db_config['pwd'],
                                                db_config['host'],
                                                db_config['port'],
                                                db_config['db'])

engine = create_engine(connection_string)

## Запрос данных

Составим запрос, в котором мы запросим все данные.

In [ ]:
query = ''' SELECT *
            FROM dash_visits
        '''

In [ ]:
data = pd.io.sql.read_sql(query, con = engine)
data

,record_id,item_topic,source_topic,age_segment,dt,visits
0,1040597,Деньги,Авто,18-25,2019-09-24 18:32:00,3
1,1040598,Деньги,Авто,18-25,2019-09-24 18:35:00,1
2,1040599,Деньги,Авто,18-25,2019-09-24 18:54:00,4
3,1040600,Деньги,Авто,18-25,2019-09-24 18:55:00,17
4,1040601,Деньги,Авто,18-25,2019-09-24 18:56:00,27
...,...,...,...,...,...,...
30740,1071337,Юмор,Финансы,36-40,2019-09-24 18:57:00,2
30741,1071338,Юмор,Финансы,36-40,2019-09-24 19:00:00,1
30742,1071339,Юмор,Финансы,41-45,2019-09-24 18:54:00,1
30743,1071340,Юмор,Финансы,41-45,2019-09-24 18:56:00,1
30744,1071341,Юмор,Финансы,41-45,2019-09-24 19:00:00,1

## Импорт данных

Запишем таблицу в `csv` файл, который мы потом сохраним для работы в `Tableau`.

In [ ]:
data.to_csv('dash_visits.csv', index=False, encoding='utf-8')

In [ ]:
pd.read_csv('dash_visits.csv')

,record_id,item_topic,source_topic,age_segment,dt,visits
0,1040597,Деньги,Авто,18-25,2019-09-24 18:32:00,3
1,1040598,Деньги,Авто,18-25,2019-09-24 18:35:00,1
2,1040599,Деньги,Авто,18-25,2019-09-24 18:54:00,4
3,1040600,Деньги,Авто,18-25,2019-09-24 18:55:00,17
4,1040601,Деньги,Авто,18-25,2019-09-24 18:56:00,27
...,...,...,...,...,...,...
30740,1071337,Юмор,Финансы,36-40,2019-09-24 18:57:00,2
30741,1071338,Юмор,Финансы,36-40,2019-09-24 19:00:00,1
30742,1071339,Юмор,Финансы,41-45,2019-09-24 18:54:00,1
30743,1071340,Юмор,Финансы,41-45,2019-09-24 18:56:00,1
30744,1071341,Юмор,Финансы,41-45,2019-09-24 19:00:00,1

# Анализ взаимодействия пользователей с карточками Яндекс.Дзен

<a href="https://disk.yandex.ru/i/rO1uIU411vmrog">Презентация</a>

<a href="https://public.tableau.com/app/profile/vladimir5162/viz/dzen_yandex_dashboard/DzenDashboard">Дашборд</a>

# Результаты исследования

1. Количество посещений достигает 60 000 посещений в исследуемом периоде. Лидируют темы: наука, отношения, интересные факты, общество, подборки.
2. Наибольшая доля событий приходится на тему «Семейные отношения» – 10,74%.
3. Самая популярная связка тем – путешествия и рассказы, чуть наименее популярные связки включают: Россия и общество, кино и наука.